body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: AntiqueWhite;
	background-size: cover, 200px;
	background-image: url("./images/slash_ora.png");
	background-repeat: no-repeat, repeat;
}
.empty {
	height: 20px;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	margin-top: 25%;
}
.header {
	width: 100%;
	color: AntiqueWhite;
	font-family: Consolas, serif;
	text-align: center;
	margin-top:25%;
}
.header a:link {
	text-decoration: none;
	color: AntiqueWhite;
}
.header a:visited {
	text-decoration: none;
	color: AntiqueWhite;
}
.footer {
	padding-top: 15px;
	padding-right: 10px;
	text-align: right;
	font-size: 5px;
	color: AntiqueWhite;
}
.footer a:link {
	text-decoration: none;
	color: AntiqueWhite;
}
.footer a:visited {
	text-decoration: none;
	color: AntiqueWhite;
}
